<div class="px-4 py-5 my-5 text-center">
  <i class="fa-solid fa-user mb-4" style="font-size: 5em;"></i>
  <h1 class="display-3 fw-bold mb-4">Projeto minsait</h1>
  <div class="col-lg-8 mx-auto">
    <p class="lead mb-4">Projeto de cadastro e manipulação de clientes, projeto realizado para avaliação final do Treinmanto de Jovens Profissionais Minsait/Indra. Front-End criado com Angular 15, Back-End criado com Java 8 + Spring Boot, o Banco de Dados H2 em memória. .</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="/clientes">Clientes</button>
    </div>
  </div>
</div>
