<h1 class="display-6 pt-3 text-center">{{ cpf ? 'Editar' : 'Cadastrar' }}</h1>
<hr class="pb-3">

<div class="container">
  <form [formGroup]="clienteForm" (ngSubmit)="cadastrar()">
    <div class="row  mb-3 g-2">
      <div class="col-12 row g-2">
        <div class="col-12 row g-2">
          <div class="mb-3 col-8 col-md-4">
            <label for="cpf" class="form-label fw-bold" >CPF</label>
            <input type="text" [readonly]="cpf ? true : false" class="form-control form-control-lg" id="cpf" formControlName="cpf"  placeholder="000-000.000-00" >
          </div>
          <div class="mb-3 col-md-8">
            <label for="nome" class="form-label fw-medium">Nome</label>
            <input type="text" class="form-control form-control-lg" id="nome" formControlName="nome">
          </div>
        </div>

        <div class="mb-3 col-md-4 col-lg-3 col-xl-2">
          <label for="rendimentoMensal" class="form-label">Rendimento Mensal</label>
          <input id="rendimentoMensal" type="text" class="form-control" formControlName="rendimentoMensal" />
        </div>
        <div class="col-md-4 col-lg-3 g-2">
          <div class="mb-3">
            <label for="telefone" class="form-label">Telefone</label>
            <input type="text" min="0" class="form-control form-control-lg" id="telefone" formControlName="telefone" placeholder="(00) 00000-0000" mask="(00) 00000-0000">
          </div>
        </div>
      </div>
      <div class="col-12 row g-2" formGroupName="endereco">
        <div class="mb-3 col-md-7">
          <label for="rua" class="form-label">Rua</label>
          <input id="rua" type="text" class="form-control" formControlName="rua" />
        </div>
        <div class="mb-3 col-6 col-md-2">
          <label for="numero" class="form-label">Numero</label>
          <input type="text" class="form-control form-control-lg" id="numero" formControlName="numero" mask="separator">
        </div>
        <div class="mb-3 col-6 col-md-3">
          <label for="cep" class="form-label">Cep</label>
          <input type="text" min="0" class="form-control form-control-lg" id="cep" formControlName="cep" placeholder="00000-000" mask="XXXXX-XXX">
        </div>
      </div>
    </div>

    <button type="button" routerLink="/clientes" class="btn btn-lg btn-dark me-2"><i class="fa-solid fa-angles-left"></i>
      voltar</button>
    <button type="submit" [disabled]="clienteForm.invalid" class="btn btn-lg btn-success"><i class="fa-solid fa-bookmark"></i>
      Salvar</button>
  </form>

</div>
