<h1 class="display-6 pt-3 text-center">{{ cpf ? 'Editar' : 'Cadastrar' }}</h1>
<hr class="pb-3">

<div class="container">
  <form [formGroup]="clienteForm" (ngSubmit)="cadastrar()">
    <div class="row mb-1 g-2">

      <!--Dados do cliente-->
      <div class="col-6 row d-flex justify-content-center">
        <div class="mb-1 col-9 row">
          <div class="col-12 row g-2">
            <div class="mb-1">
              <label for="nome" class="form-label fw-normal">Nome</label>
              <input type="text" class="form-control form-control-lg" data-masked="" data-inputmask="'mask': '99/99/9999'" id="nome" formControlName="nome">
            </div>
            <div class="mb-1">
              <label for="cpf" class="form-label fw-normal">CPF</label>
              <input type="text" [readonly]="cpf ? true : false" class="form-control form-control-lg" id="cpf"
                     formControlName="cpf">
            </div>
            <div class="mb-1">
              <label for="telefone" class="form-label fw-normal">Telefone</label>
              <input type="tel" min="0" class="form-control form-control-lg " id="telefone" formControlName="telefone">
            </div>
            <div class="mb-1">
              <label for="rendimentoMensal" class="form-label fw-normal">Rendimento Mensal</label>
              <input id="rendimentoMensal" type="text" class="form-control form-control-lg" formControlName="rendimentoMensal"/>
            </div>
          </div>
        </div>
      </div>


      <!--Dados do endereco-->
      <div class="col-6 g-2 row d-flex justify-content-center" formGroupName="endereco">
        <div class="mb-1 col-9">
          <div class="col-12 row g-2">
            <div class="mb-1">
              <label for="rua" class="form-label fw-normal">Rua</label>
              <input id="rua" type="text" class="form-control form-control-lg" formControlName="rua" />
            </div>
            <div class="mb-1">
              <label for="numero" class="form-label fw-normal">Número</label>
              <input type="text" class="form-control form-control-lg " id="numero" formControlName="numero">
            </div>
            <div class="mb-1">
              <label for="cep" class="form-label fw-normal">Cep</label>
              <input type="text" min="0" class="form-control form-control-lg" id="cep" formControlName="cep">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 g-2 row">
        <div class="col-11 d-flex justify-content-end">
          <button type="button" routerLink="/clientes" class="btn btn-lg btn-dark me-1">Voltar</button>
          <button type="submit" [disabled]="clienteForm.invalid" class="btn btn-lg btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </form>
</div>
